<nav>
  <div class="nav-wrapper teal">
    <a  class="brand-logo center">PokemonGo</a>
  </div>
</nav>


<router-outlet>  </router-outlet>


<div class="Container">
  <div class="Wrapper">
    <ul class="List">
      <li class="ListItem">Guide</li>
      <li class="ListItem">Support</li>
        <li class="ListItem">API</li>
    </ul>
    <li class="ListItem">© 2021- POKEMONGO</li>

    <span class="Copyright">Reddad Iliass Ⓒ</span>
  </div>
</div>



<!-- <input 
    #input
    (keyup)="selectPokemon2(input.value)"
    type="number"
/>
<ul>
     <p *ngIf="pokemonsSelected"> {{pokemonsSelected.name}}</p>
     <p *ngIf="!pokemonsSelected"> {{"Aucun pokemon n'a été trouvé ."}}</p>
    </ul> -->
    


