.Container  {
    height: 10%;
    background-color: #111;
    color: lightgray;
}
 
.Wrapper  {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 480px) {
      padding: 10px;
    }
}
 
.List  {
    padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.ListItem  {
    margin-right: 20px;
  @media only screen and (max-width: 480px) {
    margin-right: 10px;
    font-size: 14px;
  }
}


.Copyright  {
    @media only screen and (max-width: 480px) {
        font-size: 14px;
      }
}

